* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    /* PARA USAR MEDIDA REM DE MANERA RESPONSIVA */
    font-size:  62.5%;
}

body {
    /* background: linear-gradient(105deg, rgba(204, 244, 255, 0.18), #8fffff0a);
    padding-left: 0.5rem; */
    background-color:cadetblue;
    padding-left: 1rem;
    
}

.l-title {
    display:inline-block;
    padding-left: 0.5rem;
    padding-top: 1.5rem;
}

.title-contain {
    display: inline-block;
    margin: 0 0 0 1.5rem;

}

#logo {
    width: 3rem;
    height: 3rem;
}

#h1-title {
    font-size: 3.5rem;
}



.contain {
    display: inline-block;
    
}

textarea {
    padding-left: 0.5rem;
    resize: none;
    background: #eeeeee80 ;
    border-color: transparent;
    box-shadow: 17px 5px 10px -6px rgba(144,156,179,0.75);
    -webkit-box-shadow: 17px 5px 10px -6px rgba(144,156,179,0.75);
    -moz-box-shadow: 17px 5px 10px -6px rgba(144,156,179,0.75);
}

#aviso {
    font-size: 1rem;
    font-weight: bold;
}

#btn-encriptar {
    font-size: 1.4rem;
    color: #fff;
    background-color: #0066CC;
    padding: 0.5rem 2.5rem;
    border: solid #0066cc 2px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 50px;
    transition : 1000ms;
    transform: translateY(0);
    cursor: pointer;
}

#btn-encriptar:hover {
    transition : 1000ms;
    padding: 0.6rem 2.5rem;
    transform : translateY(-0px);
    background-color: #fff;
    color: #0066cc;
    border: none;
}

#btn-desencriptar {
    font-size: 1.4rem;
    color: #fff;
    background-color: #82b0de;
    padding: 0.5rem 2.5rem;
    border: solid #82b0de 2px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 50px;
    transition : 1000ms;
    transform: translateY(0);
    cursor: pointer;
}

#btn-desencriptar:hover {
    transition : 1000ms;
    padding: 0.6rem 2.5rem;
    transform : translateY(-0px);
    background-color: #fff;
    color: #0066cc;
    border: none;
}



.img-contain {
    display:block;
  
}