* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    /* PARA USAR MEDIDA REM DE MANERA RESPONSIVA */
    font-size:  62.5%;
}

body {
    /* background: linear-gradient(105deg, rgba(204, 244, 255, 0.18), #8fffff0a);
    padding-left: 0.5rem; */
    background-color:cadetblue;
    display: flex;
    flex-direction: column;    
    min-height: 100vh;
}

.l-title {
    display:inline-block;
    padding-left: 0.5rem;
    padding-top: 1.5rem;
}

.title-contain {
    display: inline-block;
    margin: 0 0 0 1.5rem;

}

#logo {
    width: 3rem;
    height: 3rem;
}

#h1-title {
    font-size: 3.5rem;
}

.m-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 1rem;
}

#left {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 350px;
    margin-bottom: 15px;
}

textarea {
    padding-left: 0.5rem;
    width: auto;
    height: 350px;
    resize: none;
    background: #eeeeee80 ;
    border-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    text-align: center;
}

#error {
    font-size: 1rem;
    font-weight: bold;
}

#btn-encriptar {
    font-size: 1.4rem;
    color: #fff;
    background-color: #0066CC;
    margin-right: 0.5rem;
    padding: 0.5rem 2.5rem;
    border: solid #0066cc 2px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 50px;
    transition : 1000ms;
    transform: translateY(0);
    cursor: pointer;
}

#btn-encriptar:hover {
    transition : 1000ms;
    padding: 0.6rem 2.5rem;
    transform : translateY(-0px);
    background-color: #fff;
    color: #0066cc;
    border: none;
}

#btn-desencriptar {
    font-size: 1.4rem;
    color: #fff;
    background-color: #82b0de;
    padding: 0.5rem 2.5rem;
    border: solid #82b0de 2px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 50px;
    transition : 1000ms;
    transform: translateY(0);
    cursor: pointer;
}

#btn-desencriptar:hover {
    transition: 1000ms;
    padding: 0.6rem 2.5rem;
    transform : translateY(-0px);
    background-color: #fff;
    color: #0066cc;
    border: none;
}

#output {
    
    display: flex;
    flex-direction: column;
    width: 350px;
    height:auto;
    
    background-color: aliceblue;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 20px;
}

.img-contain {
    display:flex;
    flex-direction: column;
}

.btn-info-copiar{
    font-size: 1.4rem;
    color: #fff;
    background-color: #82b0de;
    padding: 0.5rem 2.5rem;
    border: solid #82b0de 2px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 50px;
    transition : 1000ms;
    transform: translateY(0);
    cursor: pointer;
}

.btn-info-copiar:hover{
    transition: 1000ms;
    padding: 0.6rem 2.5rem;
    transform : translateY(-0px);
    background-color: #fff;
    color: #0066cc;
    border: none;
}

.ocultarImagen { display: none;
}

#resultado {
    font-size: 3.5rem;
    font-weight: bold;
    text-align: center;
    word-wrap: break-word;
}

.btn-copy {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: auto;
    margin-bottom: 0.5rem;

}


.copiar{
    margin-top: auto;
    width: 30%;
    padding: 10px;
    border-radius: 15px;
    margin-left: 2em ;
}

footer {

    width: 100%;
    margin-top: auto;
    background-color: black;
    height: 2rem;
	text-align: center;
    font-size: 1.4rem;
    color: white;
}

@media (max-width: 710px ) {

    .buttons-container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #btn-encriptar {
        font-size: 1.4rem;
        color: #fff;
        background-color: #0066CC;
        margin-right: 0.5rem;
        padding: 0.5rem 2.5rem;
        margin-bottom: 2.5rem;
        border: solid #0066cc 2px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        border-radius: 50px;
        transition : 1000ms;
        transform: translateY(0);
        cursor: pointer;
    }
    
    #btn-encriptar:hover {
        transition : 1000ms;
        padding: 0.6rem 2.5rem;
        transform : translateY(-0px);
        background-color: #fff;
        color: #0066cc;
        border: none;
    }
    
    #btn-desencriptar {
        font-size: 1.4rem;
        color: #fff;
        background-color: #82b0de;
        margin-right: 0.5rem;
        padding: 0.5rem 2.5rem;
        border: solid #82b0de 2px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        border-radius: 50px;
        transition : 1000ms;
        transform: translateY(0);
        cursor: pointer;
    }
    
    #btn-desencriptar:hover {
        transition: 1000ms;
        padding: 0.6rem 2.5rem;
        transform : translateY(-0px);
        background-color: #fff;
        color: #0066cc;
        border: none;

}

#output {
    height: fit-content;
}

}